<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbibm.mapper.BbibmKjdsGoodsMapper">

  <resultMap id="bbibmKjdsGoodsMap" type="com.bbibm.entity.BbibmKjdsGoods">
                  <id property="sid" column="sid"/>
                        <result property="sname" column="sname"/>
                        <result property="email" column="email"/>
                        <result property="phone" column="phone"/>
                        <result property="blicenseType" column="blicense_type"/>
                        <result property="deptId" column="dept_id"/>
                        <result property="cid" column="cid"/>
                        <result property="status" column="status"/>
                        <result property="btype" column="btype"/>
                        <result property="oday" column="oday"/>
                        <result property="percentage" column="percentage"/>
                        <result property="accountSiteId" column="account_site_id"/>
                        <result property="uid" column="uid"/>
                        <result property="cardPositiveUrl" column="card_positive_url"/>
                        <result property="cardSideUrl" column="card_side_url"/>
                        <result property="cardNum" column="card_num"/>
                        <result property="cardBtime" column="card_btime"/>
                        <result property="cardEtime" column="card_etime"/>
                        <result property="cardAddr" column="card_addr"/>
                        <result property="blicenseUrl" column="blicense_url"/>
                        <result property="blicenseCode" column="blicense_code"/>
                        <result property="blicenseName" column="blicense_name"/>
                        <result property="blicenseAddr" column="blicense_addr"/>
                        <result property="bankUrl" column="bank_url"/>
                        <result property="bankNum" column="bank_num"/>
                        <result property="cardName" column="card_name"/>
                        <result property="vpsName" column="vps_name"/>
                        <result property="vpsAddr" column="vps_addr"/>
                        <result property="vpsPwd" column="vps_pwd"/>
                        <result property="merchantId" column="merchant_id"/>
                        <result property="mwsToken" column="mws_token"/>
                        <result property="ctime" column="ctime"/>
                        <result property="cuid" column="cuid"/>
                        <result property="utime" column="utime"/>
                        <result property="uuid" column="uuid"/>
                        <result property="pid" column="pid"/>
                        <result property="goodsPhoto" column="goods_photo"/>
                        <result property="area" column="area"/>
                        <result property="idcardType" column="idcard_type"/>
                        <result property="type" column="type"/>
                        <result property="applyType" column="apply_type"/>
                        <result property="operUid" column="oper_uid"/>
                        <result property="errorMsg" column="error_msg"/>
                        <result property="secretKey" column="secret_key"/>
                        <result property="awsAccessKeyId" column="aws_access_key_id"/>
            </resultMap>
</mapper>
