<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rjkj.cf.bbibm.kjds.product.appcategory.mapper.AppCategoryMapper">

  <resultMap id="appCategoryMap" type="com.rjkj.cf.bbibm.kjds.product.appcategory.entity.AppCategory">
                  <id property="id" column="id"/>
                        <result property="name" column="name"/>
                        <result property="isParent" column="is_parent"/>
                        <result property="parentId" column="parent_id"/>
                        <result property="level" column="level"/>
                        <result property="pathid" column="pathid"/>
                        <result property="path" column="path"/>
                        <result property="shopee" column="shopee"/>
                        <result property="ebay" column="ebay"/>
                        <result property="amazon" column="amazon"/>
            </resultMap>


    <select id="queryOneCategory" resultMap="appCategoryMap">
        select * from bbibm_app_category where parent_id='0'
    </select>

    <select id="queryParentIdCategory" parameterType="java.lang.String" resultMap="appCategoryMap">
        select * from bbibm_app_category where parent_id='${parentId}'
    </select>
    
    <select id="queryById" resultMap="appCategoryMap">
        select * from bbibm_app_category where id=#{id}
    </select>


    <select id="queryByPathId" resultMap="appCategoryMap">
        select * from bbibm_app_category where pathid like concat('%',#{categroryId},',%') and parent_id=#{categroryId}
    </select>
</mapper>
