<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rjkj.cf.bbibm.kjds.product.rules.mapper.PricingRulesMapper">

  <resultMap id="pricingRulesMap" type="com.rjkj.cf.bbibm.kjds.api.entity.PricingRules">
                  <id property="id" column="id"/>
                        <result property="area" column="area"/>
                        <result property="basePrice" column="base_price"/>
                        <result property="baseWeight" column="base_weight"/>
                        <result property="overWeight" column="over_weight"/>
                        <result property="overPrice" column="over_price"/>
                        <result property="registerPrice" column="register_price"/>
                        <result property="discount" column="discount"/>
                        <result property="basicFreight" column="basic_freight"/>
            </resultMap>
</mapper>
